h1 {
    color:rgb(255, 20, 100);
    background-color: black;
}

body {
    max-width: 800px;
    margin: auto;
    background-color: black;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    word-spacing: normal;
    text-justify: auto;
}

.complete {
    color: green;
}

.incomplete {
    color: red;
}

.error {
    color: red;
}

.success {
    color: green;
}